body {
  background-color: black;
  color: white;
  font-family: verdana, sans-serif;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}

p.footer {
  text-align: right;
}

a.download-text {
  color: Aquamarine;
  font-size: 16px;
}
